:root{
    font-size: 16px;
    
}
*{
    box-sizing: border-box;
    
}
body{
    padding-top:40px;
    font-family: Arial, Helvetica, sans-serif;
}

.date-align{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.date2{
    height:2.5rem;
    width:17.35rem;
    padding:0 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border:1px solid #d1c6c6;
    
}

.calender-align{
    display: flex;
    flex-direction: column;
}
.calender-align-inside{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    margin-bottom:5px;
}
.calender-align-inside> div:nth-child(2){
    width:98.5%;
    background-color: #73cbd3;
    padding:1.5rem 0;
}
.calender-align-inside> div:nth-child(1){
    font-size:12px;
}
.calender-meeting-align{
    outline:1px solid #999999;
    border:1px solid #999999;
    width:86.3%;
    padding:5px;
    left:95px;
    margin:auto;
    font-size:0.75rem;
    background-color: #E3EBED;
}
.calender-meeting-align p:nth-child(1){
    font-weight: bold;
}
.absolute-1{
    position: absolute;
    top:531px;
    
    height:2.8rem;
}
.absolute-2{
    position:absolute;
    top:690px;
    height:4.07rem;
}
